<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BOB - Blind Open Bank - Telemetria</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>

    <div class="telemetria"><img src="/images/topo.jpg"></div>

    <h1>Telemetria</h1>
    
    <hr>

    <div class="content">

        <div class="line">
            {} {}
        </div>

        <div class="line">
            <%= test %>
        </div>

    </div>

    <footer>
        BOB - Blind Open Bank - 2020
    </footer>

</body>
</html>